@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400&display=swap');

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb {
    background: #1d1e20;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d1e20;
}

* {
    vertical-align: middle;

    scroll-behavior: smooth;
    overflow-y: visible;
    scrollbar-width: thin;
}

text {
    align-items: center;
    vertical-align: baseline;
}

body {
    user-select: none;
    color: #ffffff;
    background-color: rgb(18, 18, 18);
    animation: color 3s infinite;
    font-family: 'Lato', sans-serif;
}

header {
    text-align: center;
    margin-top: 10px;
}

header img.home {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    margin-left: 6%;
    margin-top: 1%;
}

main {
    margin-left: 6%;
    margin-top: 1%;
}

main div.line {
    display: block;
    background-color: #1a1c1d;
    border-radius: 10px;
    padding: 10px;
    margin-right: 20%;
    margin-top: 10px;
}

a {
    display: inline;
    color: #15a3a5;
    text-decoration: none;
    vertical-align: unset;
}

main div img.media {
    padding: 10px;
    margin: 15px;
}

main div img.media:hover {
    background-color: #3c3c3c88;
    border-radius: 10px;
    transform: scale(1.2);
}

main img.emote {
    width: 28px;
}

main div a.game {
    color: #000;
}

main div img.logo {
    border-radius: 25px;
    width: 30px;
}

main div img.badge {
    border-radius: 4px;
    width: 18px;
}

main div i.followers {
    float: right;
}

main div.modlookup table {
    width: 400px;
}

main div.main {
    margin-left: 15px;
}

main div .spacer {
    display: inline-block;
    width: 40px;
    height: 27px;
}

main div .space {
    width: 100%;
}

main div.main text.social-media {
    margin: 10px;
}

main div.line text.channel-name {
    margin: 10px;
}

.lol {
    size: 40 !important;
}